.Header {
    position: absolute;
    top:0;
    left: 0;

    display: flex;
    padding: 20px;

    height: 45px;
    width: 100vw;

    background: #102331;
}

.Header img {
    height: 45px;
    width: auto;
}