.Footer {
    position: absolute;
    bottom : 0;
    left : 0;
    height : 80px;
    background: #102331;
    width: 100vw;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;


}

.Footer p {
 padding-right: 45px;

 display: flex;
 align-items: center;
}

p img {
    height: 28px;
    margin-left: 5px;
}